*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.container{
    padding-right: 30px 30px 30px 30px;
}

svg{
    position: absolute;
}

.product .col-md-6:nth-child(1) h1{
    color: #481a48;
    max-width: 290px;
    text-align: center;
    margin-left: 90px;
    margin-top: 70px;
}

.product .col-md-6:nth-child(1) p{
    color: #481a48;
    max-width: 400px;
    text-align: center;
    margin-left: 50px;
}

.product .col-md-6:nth-child(2) ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.product .col-md-6:nth-child(2) ul li{
    display: block;
    background: #f7f2f8;
    padding-left: 40px;
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 40px;
    width: 450px;
}

.product .col-md-6:nth-child(2) ul li:nth-child(2){
    display: block;
    background: #f7f2f8;
    padding-left: 40px;
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 40px;
    width: 450px;
    margin-left: 0px;
}

.product .col-md-6:nth-child(2) ul li:nth-child(3){
    display: block;
    background: #f7f2f8;
    padding-left: 40px;
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 40px;
    width: 450px;
    margin-left:0px;
}

.product .col-md-6:nth-child(2) ul li p span{
    margin-right: 30px;
}

.product .col-md-6:nth-child(2) ul li p{
    text-transform: capitalize;
    color: #481a48;
    font-weight: 500;
}

/* Testimony Column1 */
.testimony .col-md-3:nth-child(1){
    background: #481a48;
    color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 35px;
    height: 270px;
    width: 500px;
}

.testimony .col-md-3 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.testimony .col-md-3 ul li span{
    color: #b66ca1;
}

.testimony .col-md-3 ul li img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* Testimony Column2 */
.testimony .col-md-3:nth-child(2){
    background: #481a48;
    color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 35px;
    height: 270px;
}

/* Testimony 4 */
.testimony .col-md-3:nth-child(3){
    background: #481a48;
    color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 35px;
    height: 270px;
    margin-top: 70px;
}

@media(min-width:992px) {
    svg{
        position: absolute;
    }
    
    .product .col-md-6:nth-child(1) h1{
        color: #481a48;
        max-width: 290px;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
    }
    
    .product .col-md-6:nth-child(1) p{
        color: #481a48;
        max-width: 400px;
        text-align: left;
        margin-left: 0;
    }
    
    .product .col-md-6:nth-child(2) ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .product .col-md-6:nth-child(2) ul li{
        display: block;
        background: #f7f2f8;
        padding-left: 40px;
        height: 40px;
        margin-top: 10px;
        padding-top: 10px;
        padding-right: 40px;
        width: 450px;
    }
    
    .product .col-md-6:nth-child(2) ul li:nth-child(2){
        display: block;
        background: #f7f2f8;
        padding-left: 40px;
        height: 40px;
        margin-top: 10px;
        padding-top: 10px;
        padding-right: 40px;
        width: 450px;
        margin-left: 20px;
    }
    
    .product .col-md-6:nth-child(2) ul li:nth-child(3){
        display: block;
        background: #f7f2f8;
        padding-left: 40px;
        height: 40px;
        margin-top: 10px;
        padding-top: 10px;
        padding-right: 40px;
        width: 450px;
        margin-left:40px;
    }
    
    .product .col-md-6:nth-child(2) ul li p span{
        margin-right: 30px;
    }
    
    .product .col-md-6:nth-child(2) ul li p{
        text-transform: capitalize;
        color: #481a48;
        font-weight: 500;
    }
    
    /* Testimony Column1 */
    .testimony .col-md-3:nth-child(1){
        background: #481a48;
        color: #fff;
        padding: 30px 30px 30px 30px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 35px;
        height: 270px;
        width: 500px;
    }
    
    .testimony .col-md-3 ul{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    .testimony .col-md-3 ul li span{
        color: #b66ca1;
    }
    
    .testimony .col-md-3 ul li img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    
    /* Testimony Column2 */
    .testimony .col-md-3:nth-child(2){
        background: #481a48;
        color: #fff;
        padding: 30px 30px 30px 30px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 35px;
        height: 270px;
    }
    
    /* Testimony 4 */
    .testimony .col-md-3:nth-child(3){
        background: #481a48;
        color: #fff;
        padding: 30px 30px 30px 30px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 35px;
        height: 270px;
        margin-top: 70px;
    }
}